<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your journal</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <a href="/"><h1>Е-щоденник 🎰</h1></a>
    <a href="/auth/logout"><button>вийти з акаунту 😎</button></a>
    <p><%=user.name%> - <%=user.role%></p>

    <h2><%=subject.name%></h2>
    <h2>Оцінки</h2>

    <table class="marks-table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Назва уроку</th>
                <th>Оцінка</th>
                <th>Відвідуваність</th>
            </tr>
        </thead>
        <tbody>
            <% marks.forEach(lessonMark => { %>
                <tr>
                    <td><%= lessonMark.lesson.date %></td>
                    <td><%= lessonMark.lesson.name %></td>
                    <td><%= lessonMark.mark.mark %></td>
                    <td><%= lessonMark.mark.attendance ? "✅" : "❌" %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>


</body>
</html>